@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

:root{
    --primary-color:#FCD34D;
    --light-yellow:#FFFBEB;
    --dark-gray:#6B7280;
    --offwhite: #d7f3fa;
}

body{
    background-color: var(--light-yellow);
    font-family: 'Caveat', cursive;
    margin: 0px;
}

/* navigation */
.navigation{
    background-color: var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.nav-brand{
    color:black;
    font-size: 30px;
}

/* hero */
.hero{
    padding: 0rem;
}

.hero-image{
    max-width:350px;
    display: block;
    margin:auto;
    width:150px;
    height:150px;
    padding-top: 3rem;
    
}
.hero-heading{
    color:var(--primary-color);
    padding-top:0rem;
    text-align: center;
}

/* containers */
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width: 600px;
    margin:auto;
}


/*  input*/
textarea{
    width:80%;
    height:15vh;
    display: block;
    margin-left:1rem;
    padding: 1rem;
    text-align: left;
    font-size:1.5rem;
    font-family: 'Caveat', cursive;
    
}


/* button */
button{
    margin-left: 1rem;
    background-color: var(--primary-color);
    border: none;
    color: back;
    padding: 15px 30px;
    text-align: center;
    font-size:1.5rem;
    font-family: 'Caveat', cursive;
    

}
.iconarrow{
    
    height:2rem;
    width:2rem;
    
}

.outputhere-text{
    font-size:1.5rem;
    margin-left:1rem;
    text-align: center;
}

/* Output */
#output{
    border: 1px solid black;
    height: 15vh;
    width: 80%;
    margin-left:1rem;
    padding: 2 rem;
    display: block;
    font-size: 2rem;
    background-color: white;
}

/* footer */
.footer{
    background-color:var(--primary-color);
    padding:2rem 0rem;
    text-align: center;
    color:black;
    border-top-right-radius:1rem;
}

.footer .footer-header{
    
    font-size: 1.4rem;
    padding-inline-start:0px;
}

.footer-about{
    font-size:2rem;
}

/* spaces */
#space{
    height: 5vh;
}

.padding-medium{
    padding-bottom: 2rem;
}

.padding-small{
    padding-bottom: 1.5rem;
}